#main{
  width: 30%;
  margin: auto;
  /* border: 1px solid red; */
  margin-top: 120px;
  text-align: center;
  border-radius: 15px;
}

h2{
  font-size: 50px;
}

button{
  margin: 10px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
}

button:hover{
  color: black;
}